

  <nav>
    <a routerLink="first">First</a><br>
    <a routerLink="second/5">Second</a>
  </nav>

  <router-outlet></router-outlet>

  <div style="text-align:center">
    <h1 *ngIf="counter > 0">My Name is Duncan</h1>
    <h3>Demonstration of 1-way data-binding</h3>


    <p [ngStyle]="{'background-color': customColor}">{{counter}}</p>
    <input type="text" [(ngModel)]="name"/>
    <button (click)="btnClicked()">Click name</button>
    <h3>Demonstration of markup imbedded function</h3>
    <br>
    <h3>Demonstration of 2-way data-binding</h3>
    <br>
    <div *ngFor="let person of people">
      <h3 [ngClass]="{'red': person.age > 30}">
        {{ person.name }} are {{ person.age}}
      </h3>
    </div>
  </div>
